project_customer: {{ project_customer }}
project_name: {{ project_name }}
project_full_name: {{ project_full_name }}
project_description: {{ project_description }}
project_contract_ref: {{ project_contract_ref }}
project_author: {{ project_author }}
project_repo: {{ project_repo }}
branch: {{ branch }}
commit: {{ commit }}